html {
    box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
    font-size: 10px;
@@ -147,6 +143,10 @@ body {
    margin-right: 1rem;
    margin-right: 1rem;
}
}


.nav__wrapper--hamburger:focus{
    outline: none;
}

.sticky {
.sticky {
    position: fixed;
    position: fixed;
    top: 0;
    top: 0;
@@ -227,7 +227,7 @@ body {
.services__wrapper--element p,
.services__wrapper--element p,
.skills__wrapper--item p {
.skills__wrapper--item p {
    font-size: 1.6rem;
    font-size: 1.6rem;
    color: #121212;
    color: #ffffff;
    font-weight: 300;
    font-weight: 300;
    line-height: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 10rem;
    margin-bottom: 10rem;
@@ -285,7 +285,7 @@ body {
}
}


.about__work--article p {
.about__work--article p {
    color: #222222;
    color: #fffddd;
    font-weight: 300;
    font-weight: 300;
    font-size: 1.3vw;
    font-size: 1.3vw;
    line-height: 2.6rem;
    line-height: 2.6rem;
@@ -553,7 +553,7 @@ body {
.about__collaborations--wrapper a {
.about__collaborations--wrapper a {
    font-size: 3vw;
    font-size: 3vw;
    font-weight: 400;
    font-weight: 400;
    color: #a1a1a1;
    color: #dddddd;
    line-height: 12rem;
    line-height: 12rem;
    text-decoration: none;
    text-decoration: none;
}
}
@@ -657,7 +657,7 @@ body {


.skills__wrapper--item {
.skills__wrapper--item {
    width: 33.3333%;
    width: 33.3333%;
    text-align: center;
    text-align: center; 
}
}


.skill__circle--inside {
.skill__circle--inside {
@@ -678,27 +678,27 @@ body {
    margin: 0 auto;
    margin: 0 auto;
}
}


.p25 {
.p50 {
    background-color: rgba(64, 76, 98, 0.4);
    background-color: rgba(64, 76, 98, 0.4);
    background-image:
    background-image:
        linear-gradient(90deg, transparent 50%, #404c62 50%),
        linear-gradient(270deg, transparent 50%, #404c62 50%),
        linear-gradient(180deg, #404c62 50%, transparent 50%);
        linear-gradient(90deg, #404c62 50%, transparent 50%);
    color: #404c62;
    color: #404c62;
}
}


.p50 {
.p75 {
    background-color: rgba(222, 183, 55, 0.4);
    background-color: rgba(222, 183, 55, 0.4); 
    background-image:
    background-image:
        linear-gradient(270deg, transparent 50%, #deb737 50%),
        linear-gradient(90deg, transparent 50%, #deb737 50%),
        linear-gradient(90deg, #deb737 50%, transparent 50%);
        linear-gradient(180deg, #deb737 50%, transparent 50%);
    color: #deb737;
    color: #deb737;
}
}


.p75 {
.p100 {
    background-color: rgba(183, 75, 75, 0.4);
    background-color: rgba(183, 75, 75, 0.4);
    background-image:
    background-image:
        linear-gradient(270deg, transparent 50%, #b74b4b 50%),
        linear-gradient(0deg, transparent 0%, #b74b4b 50%),
        linear-gradient(140deg, #b74b4b 50%, transparent 50%);
        linear-gradient(360deg, #b74b4b 50%, transparent 0%);
    color: #b74b4b;
    color: #b74b4b;
}
}


@@ -860,7 +860,7 @@ textarea:focus {
    color: #65b1be;
    color: #65b1be;
}
}


.footer p {
.footer__paragraph {
    text-align: center;
    text-align: center;
    font-size: 1.4rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    line-height: 1.7rem;
